/* Override the player colors */
.rhap_container {
  background-color: #2c3e5000 !important;
  border-radius: 12px !important;
  padding: 20px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0) !important;
  width: 100% !important;

}

/* Header (track info) */
.rhap_header {
  color: #ecf0f1 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  margin-bottom: 15px !important;
  text-align: center;
}

/* Main controls (play/pause) */
.rhap_main-controls-button {
  color: #00ffea !important;
}

.rhap_main-controls-button:hover {
    color: #00ffea9f !important;
}

/* Skip buttons */
.rhap_skip-button {
  color: #ecf0f1 !important;
}

/* Progress bar */
.rhap_progress-filled {
  background-color:  #00ffea !important;
}

.rhap_progress-indicator {
  background-color:  #049b8e !important;
  border: 1px solid #fff !important;
}

/* Time display */
.rhap_time {
  color: #ecf0f1 !important;
}

/* Volume controls */
.rhap_volume-button {
  color: #ecf0f1 !important;
}

.rhap_volume-indicator {
  background-color: #3498db !important;
}

.rhap_volume-bar {
  background-color: #34495e !important;
}