.layout-wrapper {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* max-width: 1200px;       
    margin: 0 auto;           */
    width: 100%;     
    background-image: url('../assets/images/logo.png'); 
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto;

}
.main-content {

    flex: 1;
    display: flex;             
    /* align-items: center;        
    justify-content: center;     */
    
}