.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* max-width: 1200px;       
  margin: 0 auto;           */
  width: 100%;              
}

.main-content {
  flex: 1;
  margin: 0 auto;
}