.navbar {
  padding: 15px 20px;
  display: flex;
  gap: 20px;
  justify-content: center;  
  align-items: center;      
}

.navbar-link {
font-size: 1.2rem;
  color: white;
  text-decoration: none;
  padding: 8px 16px;           
}

.navbar-link:hover {
    transition: 1s ease;  
    text-decoration:underline;

}