.page-two-wrapper {

  max-width: 600px;
  margin: auto;

}

.artist-list {

    padding: 15px;
    margin-bottom: 10px;

}

.artist-list h2 {

    text-align: center;

}

.artist-list ul {

    list-style: none;
    padding: 15px;

}

.artist-list ul li {

    font-size: 1rem;
    padding: 10px;

}


.accountbalances-list {

    padding: 15px;

}

.accountbalances-list h2 {

     text-align: center;

}

.accountbalances-list ul {

    list-style: none;
    padding: 15px;

}

.accountbalances-list li {

    font-size: 1rem;
    padding: 10px;

}