.page-one-wrapper {

    max-width: 600px;
    margin: auto;

}

.subscribe-button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: #289fa7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscription-active-button {

  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.subscription-confirmed-wrapper {

 margin: auto;
 text-align: center;

}