* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(180deg,rgb(81, 206, 255) 0%, rgb(20, 20, 20) 95%);
  color: rgba(255, 255, 255, 0.87);
}



#root {
  min-height: 100vh;
}